<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交留言</title>
</head>
<body>
<div style="width:800px;margin:10px auto">
    <h2>提交留言</h2>
    <table>
        <tr><td>内容：</td><td><textarea style="width:500px;height:200px"></textarea></td></tr>
        <tr><td>留言者：</td><td><input type="text" style="width:500px" /></td></tr>
        <tr><td></td><td><input type="button" value="提交" /></td></tr>
    </table>

</div>
<div style="width:800px;margin:10px auto;font-family:Arial, Helvetica, sans-serif;text-align:center;">IoTStudio &copy; 2022.08 </div>
</body>
</html>